<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webserver.projecthub.dao.mapper.ContentMapper">
	
	<!-- website list -->
	<select id="websiteList" parameterType="int" resultType="Content">
		SELECT no, project_no, ctgr, url, memo, trans_url
		FROM content
		WHERE project_no = #{projectNo}
		AND ctgr="website"
		ORDER BY no DESC
	</select>

	<!-- memo list -->
	<select id="memoList" parameterType="int" resultType="Content">
		SELECT no, project_no, ctgr, url, memo, trans_url
		FROM content
		WHERE project_no = #{projectNo}
		AND ctgr="memo"
		ORDER BY no DESC
	</select>
	
	<!-- website insert -->
	<insert id="insertWebsite">
		INSERT INTO content (project_no, ctgr, url, memo, trans_url)
		VALUES (#{projectNo}, "website", #{url}, #{memo}, #{transUrl})
	</insert>
	
	<!-- memo insert -->
	<insert id="insertMemo">
		INSERT INTO content (project_no, ctgr, url, memo, trans_url)
		VALUES (#{projectNo}, "memo", NULL, #{memo}, NULL)
	</insert>
	
	<!-- content_no -->
	<select id="selectContent" parameterType="int" resultType="Content">
		SELECT no, project_no, ctgr, url, memo, trans_url
		FROM content
		WHERE no = #{no}
	</select>
	
	<!-- website update -->
	<update id="updateWebsite">
		UPDATE content
		SET url = #{url}, memo = #{memo}
		WHERE no = #{no}
	</update>
	
	<!-- memo update -->
	<update id="updateMemo">
		UPDATE content
		SET memo = #{memo}
		WHERE no = #{no}
	</update>
	
	<!-- content delete -->
	<delete id="deleteContent" parameterType="int">
		DELETE FROM content
		WHERE no = #{no};
	</delete>
	
	<!-- rank -->
	<select id="rank" resultType="Rank">
		SELECT trans_url, COUNT(*) AS count, des
		FROM content WHERE NOT trans_url IS NULL GROUP BY trans_url ORDER BY count DESC, no DESC LIMIT 10;
	</select>
	
	<!-- search website -->
	<select id="searchWeb" resultType="Content">
		SELECT c.no, c.project_no, c.ctgr, c.url, c.memo, c.trans_url
		FROM content c, project p
		WHERE c.project_no = p.no
		AND p.secret = 1 
		AND ctgr="website" 
		AND(memo like CONCAT('%',#{keyword},'%') 
		|| url like CONCAT('%',#{keyword},'%')) 
		AND #{keyword} != "" 
	</select>
	
	<select id="searchWebCount" resultType="int">
		SELECT count(*) as count
		FROM content c, project p
		WHERE c.project_no = p.no
		AND p.secret = 1 
		AND ctgr="website" 
		AND(memo like CONCAT('%',#{keyword},'%') 
		|| url like CONCAT('%',#{keyword},'%')) 
		AND #{keyword} != "" 
	</select>
</mapper>